<?xml version="1.0" encoding="utf-8"?>
<!-- 
' _______________________ IMPORTANT - READ CAREFULLY: COPYRIGHT NOTICE __________________ '
'    THIS SOFTWARE IS THE PROPERTY OF CTStation S.A.S. IN ANY COUNTRY                     '
'    (WWW.CTSTATION.NET). ANY COPY, CHANGE OR DERIVATIVE WORK                             '
'    IS SUBJECT TO CTSTATION S.A.S.’S PRIOR WRITTEN CONSENT.                              '
'    THIS SOFTWARE IS REGISTERED TO THE FRENCH ANTI-PIRACY AGENCY (APP).                  '
'    COPYRIGHT 2020-01 CTSTATTION S.A.S. – ALL RIGHTS RESERVED.                           '
' _______________________________________________________________________________________ '
-->
<packages>
  <package id="log4net" version="2.0.12" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net451" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net451" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.11" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Modernizr" version="2.8.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net451" />
</packages>