<?xml version="1.0" encoding="utf-8"?>
<!-- 
' _______________________ IMPORTANT - READ CAREFULLY: COPYRIGHT NOTICE __________________ '
'    THIS SOFTWARE IS THE PROPERTY OF CTStation S.A.S. IN ANY COUNTRY                     '
'    (WWW.CTSTATION.NET). ANY COPY, CHANGE OR DERIVATIVE WORK                             '
'    IS SUBJECT TO CTSTATION S.A.S.’S PRIOR WRITTEN CONSENT.                              '
'    THIS SOFTWARE IS REGISTERED TO THE FRENCH ANTI-PIRACY AGENCY (APP).                  '
'    COPYRIGHT 2020-01 CTSTATTION S.A.S. – ALL RIGHTS RESERVED.                           '
' _______________________________________________________________________________________ '
-->
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
