<?xml version="1.0" encoding="utf-8"?>
<!-- 
' _______________________ IMPORTANT - READ CAREFULLY: COPYRIGHT NOTICE __________________ '
'    THIS SOFTWARE IS THE PROPERTY OF CTStation S.A.S. IN ANY COUNTRY                     '
'    (WWW.CTSTATION.NET). ANY COPY, CHANGE OR DERIVATIVE WORK                             '
'    IS SUBJECT TO CTSTATION S.A.S.’S PRIOR WRITTEN CONSENT.                              '
'    THIS SOFTWARE IS REGISTERED TO THE FRENCH ANTI-PIRACY AGENCY (APP).                  '
'    COPYRIGHT 2020-01 CTSTATTION S.A.S. – ALL RIGHTS RESERVED.                           '
' _______________________________________________________________________________________ '
-->
<packages>
  <package id="log4net" version="2.0.12" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net472" />
</packages>